#############
## Idea
#############
target/
.idea/
.idea
.repository/
*.iml
*.iws
*.class
*.info
*.properties
*.jar


/5.OnlineInternship/
/out/
/JavaRushPlugin.properties
/Instruction.png
/out.log
/out.log.*
/1.JavaSyntax/src/com/javarush/task/pro/task14/task1403/Solution.java
/1.JavaSyntax/src/com/javarush/task/pro/task14/task1403/Условие.jrtc
